.book-filter {
    background-color: var(--clr2bg);
    padding-block: 1em;
    text-align: center;
}

.book-filter > h2 {
    margin-top: 0;
}

.book-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
    place-self: center;
    gap: .5em;
}

.book-filter form button {
    margin-inline: 0
}

select {
    font-family: inherit;
}