.book-details {
    position: relative;
    text-align: center;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr1bg);
    border-radius: 12px;
    margin: 5vw;
}

.book-details>* {
    margin-inline: 1em;
}

.book-details h1 {
    font-size: 2em;
}

.on-sale-badge {
    position: absolute;
    top: 1em;
    right: 6em;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.book-price {
    &.red {
        color: red
    }

    &.green {
        color: green
    }
}

dialog {
    width: 60%;
}

.book-details section {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.75em;
}

.book-details h4,
.book-details p,
.book-details ul {
  margin: 0;
  line-height: 1.2;
}

.book-details .btns-rev {
    margin: 0.5em auto;
}

.reviews-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--clr2bg-light);
    border-radius: 0.5em;
    padding: 1.5em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.reviews-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.review-card {
    background: var(--gray1);
    border-radius: 0.5em;
    padding: 1.5em;
    margin-bottom: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.review-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.add-review-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--gray1);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    border: 2px dashed var(--clr2bg);
}

