/* :root {
    --clr1: rgb(96, 107, 91);
    --clr2: rgb(120, 99, 110);

    --clr1bg: rgb(153, 166, 149);
    --clr1bg-light: rgb(205, 221, 200);
    --clr2bg: rgb(233, 206, 221);
    --clr2bg-light: rgb(253, 236, 246);

    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
} */

:root {
    --clr1: #333446;
    --clr2: #7F8CAA;

    --clr1bg: #B8CFCE;
    --clr1bg-light: #EAEFEF;

    --clr2bg: #7F8CAA;
    --clr2bg-light: #B8CFCE;

    --gray1: #EAEFEF;
    --gray2: #B8CFCE;
    --gray3: #333446;
}
